.schedule-container {
	background-color: rgba(61, 61, 61, 0.8);
	padding: 18px 20px 24px;
	border-radius: 4px;
	width: 100%;
	overflow: hidden;

	:global(.recharts-cartesian-grid-horizontal line) {
		stroke: rgba(87, 87, 87, 0.8);
		stroke-width: 1;
	}

	:global(.recharts-cartesian-axis-tick-value) {
		fill: #cccccc;
		font-size: 16px;
		font-weight: 600;
	}

	@media (min-width: 768px) {
		padding: 22px 32px 28px;
		border-radius: 12px;

		:global(.recharts-cartesian-axis-tick-value) {
			font-size: 18px;
		}
	}

	@media (min-width: 1280px) {
		padding: 28px 46px 46px;
		border-radius: 16px;

		:global(.recharts-cartesian-grid-horizontal line) {
			stroke-width: 2;
		}

		:global(.recharts-cartesian-axis-tick-value) {
			font-size: 20px;
		}
	}
}

.schedule-wrapper {
	width: 100%;

	:global(.recharts-wrapper) {
		&,
		& *,
		& svg,
		& rect,
		& g {
			outline: none;
			user-select: none;
			-webkit-tap-highlight-color: transparent;
		}
	}

	:global([class*='recharts-zIndex-layer']) {
		outline: none;
	}
}

.header {
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	column-gap: 16px;
	row-gap: 12px;
	font-size: 18px;
	font-weight: 600;

	@media (min-width: 768px) {
		flex-direction: row;
		margin-bottom: 12px;
		font-size: 20px;
	}
	@media (min-width: 1280px) {
		margin-bottom: 25px;
		font-size: 28px;
	}

	& > h2 {
		@media (max-width: 767.98px) {
			text-wrap: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 340px;
		}
	}
}

.heading-error {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin-top: 16px;

	@media (min-width: 768px) {
		font-size: 24px;
		margin-top: 20px;
	}
	@media (min-width: 1280px) {
		font-size: 36px;
		margin-top: 30px;
	}
}

.buttons {
	align-self: end;
	display: flex;
	column-gap: 16px;
	font-size: 16px;

	@media (min-width: 1280px) {
		column-gap: 18px;
		font-size: 18px;
	}
	@media (min-width: 1280px) {
		column-gap: 24px;
		font-size: 24px;
	}
}

.button {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	transition: color 125ms ease;

	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 16px;
		height: 16px;
		background-color: transparent;
		border: 2px solid rgba(0, 0, 0, 0.4);
		transition:
			background-color 200ms ease,
			border-color 200ms ease;
		border-radius: 50%;
	}

	&:disabled {
		cursor: default;
	}

	&:disabled::before {
		background-color: #4e75bb;
		border-color: #4e75bb;
	}

	&:not(:disabled):hover {
		@media (min-width: 1024px) {
			color: #b3b3b3;
		}
	}

	@media (min-width: 768px) {
		padding-left: 28px;

		&::before {
			width: 18px;
			height: 18px;
		}
	}
	@media (min-width: 1280px) {
		padding-left: 35px;

		&::before {
			width: 24px;
			height: 24px;
			border: 3px solid rgba(0, 0, 0, 0.4);
		}
	}
}
