@reference '../../../globals.css';

.section {
	@apply pt-7 md:pt-5;
}

.form {
	@apply lg:max-w-225;
}

.inputs-list {
	@apply mb-9 md:mb-7 grid grid-cols-2 grid-rows-[repeat(3,auto)] gap-x-8 md:gap-x-10 gap-y-5 md:gap-y-8
	  [&>*:first-child]:order-1 [&>*:nth-child(2)]:order-3 [&>*:nth-child(3)]:order-5 
	  [&>*:nth-child(4)]:order-2 [&>*:nth-child(5)]:order-4 [&>*:nth-child(6)]:order-6;
}

.errorText {
	@apply text-[13px] md:text-sm mt-2 text-yellow-500;

	@media (max-width: 767.98px) {
		max-width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.button {
	@apply px-5 py-1.5 border cursor-pointer border-[#727ce6] rounded-md transition-colors
  hover:bg-sidebar disabled:cursor-not-allowed;

	@media (max-width: 767.98px) {
		@apply flex items-center justify-center w-full py-0 h-8.5;
	}
}

.circle-icon {
	@apply animate-spin;
}
